.slider {
  width: 80%;
  height: 0;
  /* padding-bottom: 45%; */
  /* margin: auto auto; */
  /* background-color: gray; */
}

.slider img {
  /* float: middle; */
}

/* .item {
  width: 30%;
  height: 0;
  margin: auto auto;
} */

/* .slider[data-ratio="16:9"] {
  padding: 56.25%
} */

/* .slider .item {
  height: 200px;
  width: 200px;
  margin: auto auto;
  position: relative;
  /* text-align: center; */

/* line-height: 300px; */

/*} */

/*===========================================================================*/

/* .controllers {
  text-align: center;
}

.controllers a {
  color: gray;
  text-decoration: none;
  margin: 4px;
  font-size: 30px;
  padding: 4px 10px;
} */